<main class="mx-auto flex-1 px-4 md:px-6">
    <!-- Title/Logo Row -->
    <header class="mb-6">
        <div class="mx-auto space-y-6 py-12 md:py-24 lg:py-2">
            <p>
                <img src={AebcWeb.UrlHelper.strapi_url("/uploads/aebc_logo2_f4d8cfdfc6.webp")} alt="aebc-logo2.webp" srcset={AebcWeb.UrlHelper.strapi_url("/uploads/thumbnail_aebc_logo2_f4d8cfdfc6.webp") <> " 245w," <> AebcWeb.UrlHelper.strapi_url("/uploads/small_aebc_logo2_f4d8cfdfc6.webp") <> " 500w," <> AebcWeb.UrlHelper.strapi_url("/uploads/medium_aebc_logo2_f4d8cfdfc6.webp") <> " 750w,"} sizes="100vw" width="960" height="519" class="mx-auto max-w-[300px]">
            </p>
        </div>
    </header>
 <!-- Prominent Text Row -->
    <section class="mb-8">
        <div class="text-center">
            <h1 class="text-3xl font-bold leading-tight md:text-3xl lg:text-3xl mb-4">
                <span class="">致力于比利时、中国多方面交流的平台</span>
            </h1>
            <p class="text-2xl font-semibold text-indigo-700">
                Association d'échanges belgo-chinois
            </p>
        </div>
    </section>

    <!-- Latest Content -->
    <section class="mx-auto mb-8 max-w-5xl">
        <h2 class="text-xl font-semibold mb-4"><%= gettext("Latest News & Events") %></h2>
        <div class="grid gap-6 md:grid-cols-2">
            <div class="bg-white shadow p-4 rounded">
                <h3 class="text-lg font-medium text-[#3D52A0] mb-3"><%= gettext("Latest News.") %></h3>
                <ul class="list-disc list-inside space-y-2">
                    <%= for news <- @latest_news do %>
                        <li>
                            <.link navigate={~p"/posts/#{news["id"]}"} class="text-blue-600 hover:text-blue-800">
                                <%= news["name"] %>
                            </.link>
                        </li>
                    <% end %>
                </ul>
            </div>

            <div class="bg-white shadow p-4 rounded">
                <h3 class="text-lg font-medium text-[#3D52A0] mb-3"><%= gettext("Latest Events.") %></h3>
                <ul class="list-disc list-inside space-y-2">
                    <%= for event <- @events do %>
                        <li>
                            <a href={"/events/#{event["id"]}"} class="text-blue-600 hover:text-blue-800">
                                <%= raw(event["name"]) %>
                            </a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </section>

      <!-- Additional Content Section -->
    <%= if @content do %>
        <section class="mt-8">
            <div class="max-w-88">
                <%= raw(@content["main"]) %>
            </div>
        </section>
    <% end %>
</main>
