<.header>
  Teacher {@teacher.id}
  <:subtitle>This is a teacher record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/teachers/#{@teacher}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit teacher</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Description">{@teacher.description}</:item>
  <:item title="Name">{@teacher.name}</:item>
</.list>

<.back navigate={~p"/teachers"}>Back to teachers</.back>

<.modal :if={@live_action == :edit} id="teacher-modal" show on_cancel={JS.patch(~p"/teachers/#{@teacher}")}>
  <.live_component
    module={AebcWeb.TeacherLive.FormComponent}
    id={@teacher.id}
    title={@page_title}
    action={@live_action}
    teacher={@teacher}
    patch={~p"/teachers/#{@teacher}"}
  />
</.modal>
