<.navbar />
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="w-full">
    <.flash_group flash={@flash} />
    <div class="prose max-w-[800px] mx-auto [&_img]:max-w-[400px] [&_img]:max-h-[600px] [&_img]:w-auto [&_img]:h-auto [&_img]:object-contain [&_img]:mx-auto">
      {@inner_content}
    </div>
  </div>
</main>
